.content-box__projects{
    display: flex;
    flex-wrap: wrap;
    animation: fade-in 1s;
    animation-delay: 0.5s;
}




/*--------------Animations--------------*/

@keyframes fade-in{
    from{
        opacity: 0;
    }

    to{
        opacity: 100%;  
    }
}