.content-box__projects{
    display: flex;
    flex-wrap: wrap;
    animation: fade-in 1s;
    animation-delay: 0.5s;
}

.content-box__card{
    margin:1rem 0 1rem 4.3rem;
}




/*--------------Animations--------------*/

@keyframes fade-in{
    from{
        opacity: 0;
    }

    to{
        opacity: 100%;  
    }
}