.container{
    animation: fade-in 1s ;
}

.social-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 5vh;
    list-style-type: none;
    margin-left: 2%;
}

.social-list__icon{
    font-size: 1.5em;  
    color: #000;
    animation: fade-in 1s;
}

.social-list__icon.gh{
    animation-delay: 1s;
}

.social-list__icon.li{
    animation-delay: 1.1s;
}

.social-list__icon.ig{
    animation-delay: 1.2s;
}

.social-list__icon.tt{
    animation-delay: 1.3s;
}


/*--------------Animations--------------*/

@keyframes fade-in{
    from{
        opacity: 0;
    }

    to{
        opacity: 100%;  
    }
}

@keyframes blink{
    from{
        opacity: 0;
    }

    to{
        opacity: 100%;  
    }
}