.NavBar {
    width: 100%;
    list-style: none;
    margin-left: 70px;
    padding: 0px;
    display: flex;
}
.NavBar li button {
    border: none;
    font-size: 17px;
    color: #2c3e50;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
    padding: 15px;
    box-shadow: 0 2px 4px 0 #333;
}
.NavBar li button:hover {
    border: none;
    color: #c0392b;
}

.NavBar li button:active {
    box-shadow: 0 1px 1px 0 #333;
    transform: scale(0.9);
}
